.container {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 100px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  cursor: pointer;
}

.btn:hover {
  color: #4CAF50;
  background-color: white;
}